body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.logo {
  text-align: center;
  background: white;
}

.header {
  padding: 5px;
  font-size: 40px;
  text-align: center;
  background: white;
}


#nav {
    font-weight: bold;
    text-align: center;
}

#nav a{
   font-size:30px;
   text-decoration:none;
   padding:20px;
}


/* Post image */
.backimg {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: 100px;
  padding: 5px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
label{
	float: left;
	display: block;
	text-align: right;
	width: 8em;
	padding-right: 1em;
}


input,textarea{	
	display: block;
	margin-bottom: 1em;
}

#submitbutton{
	margin-left: 9.5em;
}



.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

form {
  width: 561px;
  margin: 0 auto;
  postition: relative;	
}
body {
  margin: 2em;
  border: 0;
}

h3 {
  text-align: left;
}

input[type="checkbox"] {
  margin: 0 0 1.5em 0;
}

select {
  margin: 0 0 0.5em 0.5em;
}

.textarea {
  margin: 0 0 1em 0;
}
